*{
    margin: 0;
    padding: 0
}
.top{
    min-height: 80px;
    background: #151515;color: #ffffff
}
.logo{
   	float: left;
	padding: 20px;
	/* text-decoration: unset; */
	text-transform: uppercase;
	font-size: 17px;
	letter-spacing: 4px;
	font-family: monospace;
}
.menu{
    float: right
}
.menu>ul>li{
  		float: left;
	padding: 9px;
	list-style: none;
	margin-top: 19px;
	margin-left: 25px;}
.menu>ul>li>a{	color: #ffffff;
	text-decoration: none;
	font-size: 21px;
	letter-spacing: 1px;
	font-family: monospace;
	text-transform: uppercase;
	font-weight: bold;}
.menu>ul>li:hover{
    border-bottom: 2px solid;
}
/*top end */

.banner{
	background:linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,.5)),url(../img/Best_Software_Training_Institute_Chennai_Payil1-min311-min.jpg) ;
	min-height: 88vh;
	/* width: 100%; */
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
}

.banner_saction {
	position: absolute;
	right: 10%;
	top: 37%;
}
.banner_saction>h1{	font-size: 38px;
	color: darkgoldenrod;
	letter-spacing: 2px;
	font-family: monospace;
}
.banner_saction>h2{font-size: 38px;
	color:#7aed14c7;
	letter-spacing: 2px;
	font-family: monospace;}
.banner_saction>button{
  		border: 2px solid;
	border-color: #d0cee0;
	background-color: #ff8c0000;
	padding: 10px;
	font-size: 21px;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	margin: 24px 0px;
	color: yellow;
}
.banner_saction>button:hover{
    background: black;
}
/*banner end */
.welcome{
   	text-align: center;
	min-height: 118px;
	padding: 30px;
}
.welcome>h1{	font-size: 27px;
	margin: 0px 0px 16px 0px;
	letter-spacing: 2px;
	font-family: monospace;}
.welcome>p{font-size: 21px;
	font-family: cursive;}
/*weclome end*/

.offer {
	text-align: center;
	background: #9acd32e0;
	min-height: 538px;
	border: 2px solid black;}
.offer>h1{    font-size: 45px;
    margin: 16px 0px 49px;
    text-transform: uppercase;
    /* text-decoration: underline; */
    font-family: monospace;
    letter-spacing: 5px;	padding: 21px 0px 0px 0px;
}
.courses>img{
    float: left;height: 111px;
}

.courses{
      width: 31%;
	float: left;
	margin-left: 2%;
	margin-bottom: 38px;
 text-align: center;
}
.courses_text{
    float: left;
    text-align: left;	width: 70%;
}
.courses_text>p{    font-size: 19px;
    font-family: cursive;}
.courses_text>h1{       font-size: 29px;
    margin: 10px;
    font-family: monospace;
    letter-spacing: 3px; }
/*offer end*/

.about{
    text-align: center;
/*	background: #4b4b9480;*/
	min-height: 440px;
}
.about>h1{
   	font-size: 33px;
	letter-spacing: 2px;
	font-family: monospace;
	text-transform: uppercase;
	margin: 40px 0px 9px 0px;
}
.about>p{
   	font-size: 20px;
	letter-spacing: 2px;
	margin-bottom: 28px;

}
.about_section>img{
width: 40%;
	height: 333px;
    float: left;margin-left: 1%
}
.about_text{
   	text-align: left;
	/* margin-left: 10px; */
	float: left;
	width: 55%;
    margin-left: 3%;}
.about_text>p{
    font-size: 21px;
}
.about_text>ul>li{
  	list-style:none;
	font-size: 21px;
	line-height: 27px;
	margin-top: 10px;
}
.about_text>ul>li>i{
 	margin-right: 9px;
	color: yellowgreen;
}
.about_text>ul{	margin: 30px 0px 0px 0px;}
/*about end*/

.courses_top{
    	text-align: center;
	background: aquamarine;
	padding: 28px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: monospace;
	font-size: 21px;
}

.course_ful{
 min-height: 1000px;
}
.project{
    float: left;
    width: 24%;
    margin: .5%;
    text-align: center;
    margin: 0 auto;
}
.project>img{
  	height: 220px;
}
.project>h3{	text-transform: capitalize;
    	font-weight: 500;
	font-family: monospace;
	font-size: 25px;
    margin: -9px 26px 23px 26px;	background: #c02027;}
.all{
	padding: 8%;
	margin-top: -4%;
}
.contact{
    background: black;
	color: white;
	text-align: center;
	min-height: 525px;
}
.box{	width: 50%;
	float: left;
}
.box>input{
  	width: 85%;
	margin: 2.5%;
	padding: 10px;
}
.contact>h1{	font-size: 45px;
	letter-spacing: 2px;
	font-family: monospace;
	text-transform: uppercase;
	padding: 17px;
}
.right{padding: 1.25%;
	font-size: 20px;
	text-align: left;
	width: 47%;
	float: left;

}
.right>p{margin: -10px 0px 31px 0px;	font-family: cursive;}
.box>button{
  padding: 10px;
	font-size: 20px;
	border: 2px solid;
	background: #22da29;
	border-color: #e2dbdb;
	font-family: monospace;
	text-transform: uppercase;
    font-weight: bold;}
.box>button>a{
    text-decoration: none;
    color: white
}
.box>button:hover{
 	background: #22da2969;
}

.address {
    height: 100px;

}

.address>ul>li{
    list-style: none;
    margin-top: 20px;
}

.address>ul>li>i{
   	float: left;
	font-size: 27px;
	margin-right: 12px;
	
}

.address>ul>li>p{
    font-family: monospace;
	letter-spacing: 1px;
}


.fa-facebook-square {
    color: #3d5a98
}

.fa-twitter {
    color: #00adef
}

.fa-linkedin-square {
    color: #457e9b
}

.fa-youtube-play {
    color: #ff0000
}

.fa-instagram {
    color: #fd4418
}



.social{	float: left;
	color: #524949;
	padding: 30px;
	margin-left: -62px;}
.social > i {
    letter-spacing: 52px;
    font-size: 30px;	cursor: pointer;
}
#box3{height: 138px;}


.courses>i{
  	font-size: 93px;
	float: left;
	width: 30%; margin-top: 9%;	color: beige;
}






























































































